<a class="collection hide" href="collection"><img class="negative" src="/assets/login.svg"></a>

{% for row in range(cols_in_row) -%}
{% set row = row * cols_in_row -%}
	<div class="row">
    	{% for title in (table.keys() | list)[row : row+cols_in_row] -%}
	    	<div class="col-md">
        		<h4>
        		{% if title != 'Collection' -%}
        			<a href="{{ title.lower().replace(' ', '_') }}">{{ title }}</a>
        		{% else -%}
        			<span class="button link" id="collection">Collection</span>
        		{% endif -%}
        		</h4>
			<i>{{ table[title] }}</i>
    		</div>
	{% endfor -%}
</div>
{% endfor -%}
